<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>

<a href="/admin" class="back-btn">← Назад</a>

<h1 class="title">Редактирование</h1>

<div class="admin-box">

    <form method="post" enctype="multipart/form-data">

        <input type="text" name="name" value="{{ emp.name }}" required>

        <p>Текущее фото:</p>
        {% if emp.image %}
            <img src="{{ url_for('static', filename='uploads/' + emp.image) }}" class="preview-img">
        {% endif %}

        <input type="file" name="image">

        <textarea name="short_desc">{{ emp.short_desc }}</textarea>

        <textarea name="full_desc">{{ emp.full_desc }}</textarea>

        <h3>Ссылки</h3>

        {% for i in range(1, 11) %}
            <input type="text"
                   name="link_title_{{ i }}"
                   placeholder="Название ссылки {{ i }}"
                   value="{{ links[i-1].title if links|length >= i else '' }}">

            <input type="text"
                   name="link_url_{{ i }}"
                   placeholder="URL ссылки {{ i }}"
                   value="{{ links[i-1].url if links|length >= i else '' }}">
        {% endfor %}

        <button type="submit" class="btn">
            Сохранить
        </button>

    </form>

</div>

</body>
</html>