<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Шлюхи канала "В мкм ненавидят"</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Каллиграфический шрифт -->
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>

<body>

<!-- КНОПКА АДМИНКИ -->
<a href="/login" class="admin-btn">admin</a>

<!-- ЗАГОЛОВОК -->
<div class="header">
    <h1 class="title">Шлюхи канала "В мкм ненавидят"</h1>
</div>

<!-- КОНТЕЙНЕР КАРТОЧЕК -->
<div class="container">

    {% for emp in employees %}
    <div class="card">

        <div class="img-box">
            {% if emp.image %}
                <img src="{{ emp.image }}">
            {% else %}
                <div class="no-img">Нет фото</div>
            {% endif %}
        </div>

        <h2 class="name">{{ emp.name }}</h2>

        <p class="desc">
            {{ emp.short_desc }}
        </p>

        <a href="/employee/{{ emp.id }}" class="btn">
            Подробнее
        </a>

    </div>
    {% endfor %}

</div>

<footer class="support-footer">

    <a
      href="https://t.me/requestsofmkmhate_bot"
      target="_blank"
      class="support-btn">

      ЗАКАЗАТЬ ШЛЮХУ

    </a>

</footer>
    
</body>
</html>
